:root {
    --hover-black: #101010;
    --flash-red: #3F0000;
}

* {
    box-sizing: border-box;
}

*::before, *::after {
    position: absolute;
    content: '';
}


body {
    padding: 0;
    margin: 0;
    background-color: black;

    width: 100vw;
    height: 100vh;
}

.gameboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: grid;
    width: 60vh;
    height: 60vh;
    min-width: 300px;
    min-height: 300px;
    grid-template-columns: repeat(3, minmax(100px, 1fr));

}

.tile {
    position: relative;
    background-color: black;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}


.tile-bg {
    background-color: black;
}

.tile-bg:hover {
    background-color: var(--hover-black);
    cursor: pointer;
}

.no-right {
    border-right: 0;
}

.no-bottom {
    border-bottom: 0;
}


.mark {
    position: absolute;
    top: 50%;
    left: 50%;
    
}

.x {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    
    height: 80%;
    width: 10px;
    background-color: white;
}

.x::after {
    transform: rotate(90deg);

    height: 100%;
    width: 100%;
    background-color: white;
}

.o {
    height: 65%;
    width: 65%;
    transform: translate(-50%, -50%);
    
    background-color: transparent;
    border: 10px solid white;
    border-radius: 50%;
}

.flash-red {
    background-color: var(--flash-red);
}

.flash-red:hover {
    background-color: var(--flash-red);
}
